@use '../../../../styles/utils' as *;

.PreviewDescription {
  font-size: rem(13px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TextWrapper {
  position: relative;

  &[data-collapsed]::after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    block-size: var(--32px);
    background: linear-gradient(
      to bottom,
      transparent,
      var(--sys-surface-high) 90%
    );
    pointer-events: none;
  }
}

.ClampDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ToggleTextButton {
  margin-block-start: var(--4px);
  color: var(--blue-400);
  font-size: var(--12px);
  line-height: 1.2;
  transition: box-shadow 0.2s;

  &:focus-visible {
    outline-offset: 2px;
    outline: var(--default-outline);
    border-radius: var(--2px);
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 1px 0 var(--blue-400);
    }
  }
}
