@use '../../styles/breakpoints' as *;

.PaginationSection {
  display: flex;
  gap: var(--8px);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--10px) var(--padding-inline, var(--16px));
  border-block-start: 1px solid var(--sys-outline);
  background-color: var(--sys-surface-high);
  border-end-start-radius: var(--grid-radius, var(--8px));
  border-end-end-radius: var(--grid-radius, var(--8px));

  /* 470px */
  @container (min-width: 29.375rem) {
    flex-direction: row;
  }
}

.PageControls {
  display: flex;
  gap: var(--28px);
}

.PageButton {
  position: relative;
  font-weight: 500;
  font-size: var(--20px);
  transition: color 0.2s var(--bg-animation);

  svg {
    flex-shrink: 0;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
    border-radius: 100vmax;
  }

  @media (hover: hover) {
    &:not(.Disabled):not([data-active]):hover {
      color: var(--blue-400);
    }
  }

  &[data-active] {
    filter: brightness(130%);
    pointer-events: none;
  }

  &.Disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    inline-size: var(--24px);
    block-size: var(--24px);
  }
}

.PagesDivider {
  margin-inline: var(--4px);
  display: flex;
  align-items: center;
  user-select: none;
  font-size: var(--20px);
}

.GoToSpecificPage {
  display: flex;
  align-items: center;
  gap: var(--10px);
  font-weight: 500;
}

.PageInput {
  background-color: var(--sys-surface-low);
  border: none;
  min-inline-size: 0;
  max-inline-size: var(--45px);
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--4px) var(--8px);
  color: var(--sys-on-surface-highest-variant);
  box-shadow: var(--inset-shadow);

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
    color: var(--sys-on-surface);
  }
}
