@use '../../styles/breakpoints' as *;

.ListContainer {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

.ListHeading {
  font-size: var(--20px);
  font-weight: 600;
  color: var(--sys-on-surface);
  margin-block-end: var(--8px);
}

.List {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
}

.Link {
  --radius: var(--12px);
  text-decoration: none;
  border-radius: var(--radius);

  &:focus-visible {
    outline: 2px solid var(--blue-400);
  }
}

.Card {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  padding: var(--16px);
  background-color: var(--sys-surface-highest);
  box-shadow: var(--shadow-border);
  border-radius: var(--radius);
  transition:
    box-shadow 0.2s var(--bg-animation),
    background-color 0.2s var(--bg-animation);

  @include up('tablet') {
    flex-direction: row;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-on-surface-opacity-variant-2);
    }
  }
}

.Content {
  display: flex;
  flex-direction: column;
  gap: var(--8px);
}

.Header {
  display: flex;
  flex-direction: column;
  gap: var(--4px);
}

.TeamName {
  font-size: var(--16px);
  font-weight: 600;
  color: var(--blue-500);
}

.MetaInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 var(--6px);
  font-size: var(--14px);
  background-color: var(--blue-500);
  color: hsl(0, 0%, 100%);
  padding: var(--2px) var(--6px);
  border-radius: var(--4px);
  inline-size: fit-content;

  .Dot {
    opacity: 0.6;
  }
}

.Description {
  font-size: var(--14px);
  color: var(--sys-on-surface);
  line-height: 1.5;
  text-wrap: pretty;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.PaginationSection {
  display: flex;
  gap: var(--8px);
  align-items: center;
  flex-direction: column;

  justify-content: space-between;
  padding: var(--10px) var(--padding-inline);
  position: sticky;
  inset-block-end: 0;
  border-block-start: 1px solid var(--sys-outline);
  background-color: var(--sys-surface-high);
  margin-inline: calc(var(--padding-inline) * -1);
  margin-block: var(--12px) calc(var(--padding-block) * -1);
  border-end-start-radius: var(--grid-radius);
  border-end-end-radius: var(--grid-radius);

  /* 470px */
  @container (min-width: 29.375rem) {
    flex-direction: row;
  }
}

.PageControls {
  display: flex;
  gap: var(--6px);
}

.PageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
  block-size: var(--32px);
  inline-size: var(--32px);
  background-color: var(--sys-surface-highest);
  box-shadow: var(--shadow-border);
  transition: background-color 0.2s var(--bg-animation);
  position: relative; // for click target helper
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  outline: none;
  outline-offset: -2px;

  @media (hover: hover) {
    &:not(.Disabled):hover {
      background-color: var(--state-primary-opacity-8);
    }
  }

  &.Active {
    &::before {
      opacity: 1;
    }
  }

  &.Disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    inline-size: var(--24px);
    block-size: var(--24px);
  }
}

.PagesDivider {
  margin-inline: var(--4px);
}

.GoToSpecificPage {
  display: flex;
  align-items: center;
  gap: var(--10px);
}

.PageInput {
  background-color: var(--sys-surface-low);
  border: none;
  min-inline-size: 0;
  max-inline-size: var(--45px);
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--4px) var(--8px);
  color: var(--sys-on-surface-highest-variant);
  box-shadow: var(--inset-shadow);

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
    color: var(--sys-on-surface);
  }
}
