.Wrapper {
  margin-block-start: var(--4px);
}

.ScoreWrapper {
  display: flex;
  gap: var(--8px);
  margin-block-end: var(--8px);
  justify-content: space-between;
}

.ScoreElement {
  block-size: 6px;
  border-radius: 100vmax;
  flex: 1;
  background-color: var(--sys-on-surface-highest);
}

.ConditionsHeader {
  font-size: var(--14px);
  color: var(--sys-primary);
  margin-block-end: var(--4px);
  font-weight: 500;
}

.ConditionList {
  color: var(--sys-primary);
  font-size: var(--14px);
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--4px);
}

.Condition {
  flex: 1 0 160px;
  display: flex;
  gap: var(--4px);
  overflow-wrap: break-word;

  svg {
    flex-shrink: 0;
    transform: translateY(2px);
  }

  &.Done {
    svg {
      color: var(--blue-400);
    }

    span {
      text-decoration: line-through;
      color: var(--sys-on-surface-variant);
    }
  }
}
