.Wrapper {
  position: relative;
  color: var(--sys-on-surface-highest-variant);

  &:focus-within {
    .SearchIcon {
      color: var(--sys-on-surface);
    }
  }
}

.SearchField {
  background-color: var(--sys-surface-low);
  box-shadow: var(--inset-shadow);
  color: inherit;
  border-radius: 100vmax;
  border: none;
  font-weight: 500;
  padding: 0 var(--8px) 0 var(--40px);
  display: flex;
  align-items: center;
  gap: var(--8px);
  inline-size: 100%;
  block-size: 44px;
  min-width: 0;
  outline: none;

  &::placeholder {
    color: var(--sys-on-surface-highest-variant);
  }

  &:focus-visible {
    outline: 2px solid var(--blue-300);
    color: var(--sys-on-surface);
  }
}

.SearchIcon {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 14px;
  transform: translateY(calc(50% + 1.5px));
}
