@use '../../styles/breakpoints' as *;

.Wrapper {
  background-color: var(--sys-on-surface-highest);
  color: var(--sys-on-surface);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--12px);
  gap: var(--8px);

  @include up('tablet') {
    align-items: flex-start;
  }
}

.Message {
  font-size: var(--12px);
  color: var(--danger);
  background-color: var(--danger-background);
  border-inline-start: 3px solid var(--danger);
  padding: var(--8px) var(--12px);
  border-radius: var(--4px);
  white-space: pre-wrap;
  word-break: break-word;
  opacity: 0.8;
}

.HomeButton {
  border-radius: 100vmax;
  padding: var(--6px) var(--12px) var(--6px) var(--10px);
  box-shadow: var(--shadow-border);
  gap: var(--4px);
  outline-offset: -2px;
  outline: 2px solid var(--sys-primary);
  color: var(--sys-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: var(--14px);

  &:hover,
  &:focus-visible {
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-primary-opacity-8);
    }
  }

  &:focus-visible {
    background-color: var(--state-primary-opacity-8);
  }

  @include up('tablet') {
    padding: var(--4px) var(--12px) var(--4px) var(--10px);
  }
}
