.Overlay {
  position: fixed;
  inset: 0;
  background-color: var(--default-overlay-color);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.Content {
  --height: 80vh;
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: var(--height);
  inline-size: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--sys-surface-high);
  will-change: opacity, transform;
}

.CloseSection {
  border-radius: 20px 20px 0 0;
  padding: var(--24px);
  background-color: var(--sys-on-surface-highest);
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-block-end: 1px solid var(--sys-outline);
}

.TopSection {
  padding: var(--12px) var(--8px);
  display: flex;
  flex-direction: column;
  gap: var(--14px);
}

.FlexRow {
  display: flex;
  gap: var(--8px);
}

.Logo {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--sys-primary);
  font-size: var(--20px);
  line-height: 1.2;

  span:first-child {
    font-weight: 650;
  }
}

.Button {
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  color: var(--sys-on-surface);
}

.CloseButton {
  composes: Button;
  inline-size: 40px;
  block-size: 40px;
  outline: 2px solid var(--sys-primary);
  background-color: transparent;

  &:active {
    background-color: var(--state-primary-opacity-12);
  }

  &:hover,
  &:focus-visible {
    outline: none;
  }
}

.ButtonWithText {
  composes: Button;
  gap: var(--8px);
  font-weight: 500;
}

.SecondaryButton {
  composes: ButtonWithText;
  flex: 1;
  padding: var(--8px);
  background-color: var(--sys-on-surface-highest);
  transition: background-color 0.6s ease;

  &:active {
    transition: background-color 0.3s ease;
    background-color: var(--state-on-surface-opacity-variant);
  }
}

.LoginButton {
  composes: ButtonWithText;
  padding: var(--10px) var(--8px);
  color: var(--sys-on-primary);
  background-color: var(--sys-primary);
  text-decoration: none;
}

.Separator {
  background-color: var(--sys-outline);
  block-size: 1px;
}

.MainSection {
  padding: var(--12px) var(--8px);
  display: flex;
  flex-direction: column;
  gap: var(--10px);
}

.Accordion {
  display: flex;
  flex-direction: column;
  gap: var(--4px);
}

.AccordionTrigger {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--16px) var(--20px);
  background-color: var(--sys-on-surface-highest);
  inline-size: 100%;
  border-radius: var(--12px);
  color: var(--sys-on-surface);

  &[data-panel-open] {
    border-end-start-radius: 0;
    border-end-end-radius: 0;

    .ChevronDown {
      transform: rotate(180deg);
    }
  }
  cursor: pointer;
}

.ChevronDown {
  will-change: transform;
  transition: 250ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.AccordionPanel {
  background-color: var(--sys-on-surface-highest);
  padding: var(--8px);

  &[data-open] {
    border-end-start-radius: var(--12px);
    border-end-end-radius: var(--12px);

    animation: fadeIn 300ms ease both;
  }
}

.AccordionLink {
  display: flex;
  align-items: center;
  gap: var(--10px);
  text-decoration: none;
  padding: var(--10px) var(--14px);
  border-radius: var(--8px);
  color: var(--sys-on-surface);

  &:not(nth-last-of-type) {
    margin-block-end: var(--4px);
  }

  &:focus-visible {
    background-color: var(--state-on-surface-opacity-6);
  }

  &.Active {
    background-color: var(--state-on-surface-opacity-6);
  }

  &.Relative {
    position: relative;
  }
}

.ScrollArea {
  block-size: calc(var(--height) - 120px);
}

.Viewport {
  block-size: 100%;
}

.ChevronRightButton {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  inline-size: 25%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.BackButton {
  inline-size: 100%;
  background-color: transparent;
  border: none;
  padding: var(--8px) var(--12px);
  border-radius: var(--8px);
  color: var(--sys-on-surface);
  margin-block-end: var(--4px);
  cursor: pointer;
}

.UserCard {
  background-color: var(--sys-on-surface-highest);
  border-radius: var(--10px);
  display: flex;
  align-items: center;
}

.UserAvatarWrapper {
  display: flex;
  align-items: center;
  gap: var(--12px);
  text-decoration: none;
  color: var(--sys-on-surface);
  font-weight: 550;
  padding: var(--12px) var(--16px);
  flex: 1;
}

.UserAvatar {
  inline-size: var(--45px);
  block-size: var(--45px);
  border-radius: var(--10px);
}

.UserCardLinks {
  margin-inline-start: auto;
  display: flex;
  align-self: stretch;
}

.UserCardLink {
  color: var(--sys-on-surface);
  inline-size: var(--48px);

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    background-color: var(--state-primary-opacity-12);
  }
}

.ExitButton {
  composes: SecondaryButton;

  padding: 10px;
  border-radius: 12px;
  color: var(--danger);
  background-color: var(--danger-background);
  will-change: transform;

  &:active {
    background-color: var(--danger-background-active);
    transform: scale(0.95);
  }
}
