@use '../../../../styles/utils' as *;

.CollapsibleRoot {
  --radius: var(--8px);
  margin-block-start: var(--6px);
  border-radius: var(--radius);
  box-shadow: var(--shadow-border);
  background-color: var(--tone-14);
  transition: border-color 0.15s ease;

  :global(html.dark) & {
    background-color: var(--tone-6);
  }
}

.TriggerBar {
  display: flex;
  align-items: center;
  inline-size: 100%;
  font-weight: 600;
  font-size: var(--14px);
}

.TriggerMain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--8px);
  padding: var(--8px) var(--12px);
  flex: 1;
  color: var(--color);
  transition:
    color 0.2s ease,
    opacity 0.2s ease;

  &:focus-visible {
    outline: var(--default-outline);
    border-radius: var(--radius);
    outline-offset: 2px;
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.TriggerMainEmpty {
  composes: TriggerMain;
  --color: var(--sys-on-surface-variant);

  @media (hover: hover) {
    &:not([data-disabled]):hover {
      color: var(--sys-on-surface);
    }
  }
}

.TriggerTextIcon {
  flex-shrink: 0;
  fill: var(--color);

  &[data-loading] {
    fill: transparent;
    animation: spin 1s infinite linear;
  }
}

.TriggerText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TriggerDivider {
  flex-shrink: 0;
  inline-size: rem(1px);
  block-size: var(--24px);
  background-color: var(--sys-outline-variant);
}

.TriggerChevronWrapper {
  padding: var(--8px) var(--12px);
  color: var(--sys-on-surface-variant);

  &:focus-visible {
    outline: var(--default-outline);
    border-radius: var(--radius);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @media (hover: hover) {
    &:not([data-disabled]):hover {
      color: var(--sys-on-surface);
    }
  }
}

.TriggerChevron {
  transition: transform 0.25s ease;
  will-change: transform;

  [data-panel-open] & {
    transform: rotate(180deg);
  }
}

.CollapsiblePanel {
  overflow: hidden;
  block-size: var(--collapsible-panel-height);
  transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-block-start: 1px solid var(--sys-outline-variant);

  &[data-starting-style],
  &[data-ending-style] {
    block-size: 0;
  }
}

.PanelContent {
  display: flex;
  flex-direction: column;
}

.ScrollAreaRoot {
  --max-height: #{rem(180px)};
  position: relative;
  max-block-size: var(--max-height);
  overflow: hidden;
}

.ScrollAreaViewport {
  inline-size: 100%;
  max-block-size: var(--max-height);
  padding-block: var(--4px);

  &:focus-visible {
    outline: var(--default-outline);
    border-radius: var(--radius);
    outline-offset: -2px;
  }
}

.AuthWarning {
  font-size: var(--14px);
  text-align: center;
  text-wrap: balance;
  padding-block: var(--8px);
  color: var(--sys-on-surface-variant);
  user-select: none;
}

.FolderList {
  display: flex;
  flex-direction: column;
  gap: var(--2px);
  padding: var(--6px);
  padding-inline-end: var(--10px);
}

.FolderItem {
  --radius: var(--4px);
  justify-content: space-between;
  padding: var(--8px) var(--16px);
  font-size: var(--14px);
  color: var(--sys-on-surface);
  font-weight: 500;
  border-radius: var(--radius);
  transition:
    background-color 0.12s ease,
    opacity 0.2s ease;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:focus-visible {
    outline: var(--default-outline);
    border-radius: var(--radius);
  }

  &[data-selected] {
    background-color: var(--state-on-surface-opacity-variant-3);
  }

  :global(html.dark) & {
    &[data-selected] {
      background-color: oklch(39.042% 0.00004 271.152 / 0.631);
    }
  }

  @media (hover: hover) {
    &:not([data-selected]):not([data-disabled]):hover {
      background-color: var(--sys-menu-item-selected);
    }
  }
}

.DeleteBookmarkButton {
  composes: FolderItem;
  color: var(--danger);

  @media (hover: hover) {
    &:not([data-selected]):not([data-disabled]):hover {
      background-color: var(--danger-background);
    }
  }
}

.Scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  inline-size: var(--6px);
  padding: var(--2px) rem(1px);
  background: transparent;

  &[data-orientation='vertical'] {
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
  }
}

.ScrollbarThumb {
  flex: 1;
  background-color: var(--tone-8);
  border-radius: 100vmax;
  transition: background-color 0.15s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--tone-7);
    }
  }

  :global(html.dark) & {
    background-color: var(--tone-7);

    @media (hover: hover) {
      &:hover {
        background-color: var(--tone-8);
      }
    }
  }
}

.BottomPanelSection {
  border-block-start: 1px solid var(--sys-outline-variant);

  font-size: var(--14px);

  &[data-enter-mode] {
    padding: var(--6px);
    padding-inline-end: var(--12px);
  }
}

.EnterEditModeButton {
  justify-content: space-between;
  inline-size: 100%;
  padding: var(--10px) var(--16px);
  color: var(--sys-on-surface-variant);
  transition:
    background-color 0.15s ease,
    color 0.15s ease;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:focus-visible {
    outline: var(--default-outline);
    border-end-start-radius: var(--radius);
    border-end-end-radius: var(--radius);
    outline-offset: -2px;
  }

  @media (hover: hover) {
    &:not([data-disabled]):hover {
      background-color: var(--sys-menu-item-selected);
      color: var(--sys-on-surface);
      border-end-start-radius: var(--radius);
      border-end-end-radius: var(--radius);
    }
  }
}

.AddNewFolderForm {
  display: flex;
  align-items: center;
  gap: var(--8px);
}

.FieldInput {
  background-color: var(--sys-surface-low);
  box-shadow: var(--inset-shadow);
  border: none;
  outline: none;
  min-inline-size: 0;
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--4px) var(--10px);
  color: inherit;
  font-weight: 500;
  transition: opacity 0.15s ease;

  &::placeholder {
    font-weight: revert;
  }

  &:focus-visible {
    outline: var(--default-outline);
    color: var(--sys-on-surface);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.AddNewFolderButton {
  padding: var(--4px);
  border-radius: var(--4px);
  color: var(--sys-on-surface-variant);
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    opacity 0.15s ease;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: var(--default-outline);
    color: var(--sys-on-surface);
  }

  @media (hover: hover) {
    &:not([data-disabled]):hover {
      background-color: var(--sys-menu-item-selected);
      color: var(--sys-on-surface);
    }
  }
}

.PlusIcon {
  --sizing: var(--20px);
  block-size: var(--sizing);
  inline-size: var(--sizing);
  flex-shrink: 0;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
