/* CSS RESET (from https://www.joshwcomeau.com/css/custom-css-reset/) */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root {
  isolation: isolate;
}

/* GLOBAL STYLES */

// FONT FACES

/* Main font */
@font-face {
  font-family: 'FixelText';
  font-style: normal;
  src: url('/fonts/FixelVariable/FixelVariable.woff2')
    format('woff2-variations');
  font-feature-settings:
    'salt' on,
    'ss01' on;
  font-weight: 100 900;
  font-stretch: 50 200;
  font-display: swap;
}

/* I'm turning off the alternate style for the letter "а". It's purely a personal choice. */
@font-face {
  font-family: 'FixelText';
  src: url('/fonts/FixelVariable/FixelVariable.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 50 200;
  font-display: fallback;
  font-feature-settings:
    'salt' off,
    'ss01' off;
  unicode-range: U+0061, U+0430;
}

/* Logo font */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/AlegreyaSans.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Italic font */
@font-face {
  font-family: 'FixelText';
  font-style: italic;
  src: url('/fonts/FixelVariable/FixelVariableItalic.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 50 200;
  font-display: fallback;
}

/* Font fallback */
@font-face {
  font-family: 'Verdana Fallback';
  src: local(Verdana);
  size-adjust: 96%;
  ascent-override: 102%;
  descent-override: 28%;
  line-gap-override: 16%;
}

// BODY STYLES

html,
body,
#root {
  block-size: 100%;
}

body {
  scrollbar-gutter: stable;
  overflow-y: auto;
  font-family:
    'FixelText',
    'Verdana Fallback',
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  background-color: var(--bigscreen-bg);
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

// TOKENS

html {
  // color tokens
  --blue-50: oklch(96.85% 0.015 260.73);
  --blue-100: oklch(92.79% 0.033 261.03);
  --blue-200: oklch(87.46% 0.058 260.45);
  --blue-300: oklch(79.67% 0.099 257.14);
  --blue-400: oklch(69.44% 0.149 259.26);
  --blue-500: oklch(60.2% 0.196 262.8);
  --blue-600: oklch(54.59% 0.213 265.48);
  --blue-700: oklch(46.95% 0.225 265.88);
  --blue-800: oklch(40.87% 0.187 267.51);
  --blue-900: oklch(36.62% 0.144 267.82);
  --blue-950: oklch(27.28% 0.091 271.34);

  --pink-50: oklch(97.03% 0.017 343.61);
  --pink-100: oklch(94.71% 0.03 342.63);
  --pink-200: oklch(89.7% 0.067 342.85);
  --pink-300: oklch(82.04% 0.123 346.07);
  --pink-400: oklch(72.69% 0.197 349.97);
  --pink-500: oklch(66.47% 0.233 354.88);
  --pink-600: oklch(60.35% 0.234 2.11);
  --pink-700: oklch(54.07% 0.212 5.5);
  --pink-800: oklch(47.12% 0.182 5.16);
  --pink-950: oklch(29.1% 0.114 4.85);

  --brand-blue: var(--blue-500);
  --brand-pink: var(--pink-700);
  --danger: oklch(60.307% 0.22945 27.676);
  --success: oklch(63.226% 0.20525 143.97);
  --warning: oklch(86.563% 0.17261 92.311);

  --default-overlay-color: oklch(0% 0 0 / 0.5);
  --bigscreen-bg: oklab(84.551% 0.00443 0.00843);
  --background: #fff;
  --tone-0: oklch(0% 0 0);
  --tone-1: oklch(14.479% 0.00002 271.152);
  --tone-2: oklch(17.764% 0.00002 271.152);
  --tone-3: oklch(23.536% 0.00404 84.55);
  --tone-4: oklch(24.997% 0.00717 67.405);
  --tone-5: oklch(33.674% 0.00531 91.552);
  --tone-6: oklch(29.82% 0.00143 15.934);
  --tone-7: oklch(56.328% 0.00121 14.278);
  --tone-8: oklch(82.604% 0.00882 67.467);
  --tone-9: oklch(89.595% 0.00913 78.143);
  --tone-10: oklch(91.756% 0.00793 73.522);
  --tone-11: oklch(94.105% 0.00335 67.063);
  --tone-12: oklch(95% 0.00428 15.846);
  --tone-13: oklch(97.614% 0.00011 271.152);
  --tone-14: oklch(99.107% 0.00011 271.152);
  --tone-15: oklch(100% 0.00011 271.152);

  // transparent variants
  --tone-2-tr-05: oklch(22.645% 0.00003 271.152 / 0.05);

  // light theme
  --sys-primary: var(--tone-3);
  --sys-outline: var(--tone-8);
  --sys-outline-variant: var(--tone-9);
  --sys-surface: var(--tone-11);
  --sys-surface-lowest: var(--tone-9);
  --sys-surface-low: var(--tone-10);
  --sys-surface-high: var(--tone-11);
  --sys-surface-highest: var(--tone-15);
  --sys-surface-inverse: var(--tone-4);
  --sys-on-primary: var(--tone-14);
  --sys-on-surface: var(--tone-2);
  --sys-on-surface-variant: oklch(56.617% 0.00989 17.093);
  --sys-on-surface-opacity-1: var(--tone-2-tr-05);
  --sys-on-surface-highest: var(--tone-15);
  --sys-on-surface-highest-variant: oklch(49.558% 0.00895 17.114);
  --sys-on-surface-high: var(--tone-13);
  --sys-on-surface-inverse: var(--tone-12);
  --sys-on-button: var(--tone-9);

  --state-primary-opacity-8: oklch(71.462% 0.213 265.48 / 0.078);
  --state-primary-opacity-12: oklch(71.462% 0.213 265.48 / 0.122);
  --state-primary-opacity-16: oklch(71.462% 0.213 265.48 / 0.161);

  --input-hover-border: oklch(91.583% 0.0001 271.152);

  // dark theme
  &.dark {
    --bigscreen-bg: #000000;
    --background: #030303;
    --sys-primary: var(--tone-12);
    --sys-outline-variant: var(--tone-4);
    --sys-surface: var(--tone-3);
    --sys-surface-low: var(--tone-2);
    --sys-surface-lowest: var(--tone-1);
    --sys-surface-high: var(--tone-2);
    --sys-surface-highest: var(--tone-4);
    --sys-surface-inverse: var(--tone-11);
    --sys-on-primary: var(--tone-1);
    --sys-on-surface: var(--tone-8);
    --sys-on-surface-variant: oklch(70.733% 0.01404 82.354);
    --sys-on-surface-highest: var(--tone-5);
    --sys-on-surface-highest-variant: var(--tone-7);
    --sys-on-surface-high: var(--tone-0);
    --sys-on-surface-inverse: var(--tone-2);
    --sys-on-button: var(--tone-1);
    --sys-outline: var(--tone-5);

    --input-hover-border: oklch(32.492% 0.00994 61.039);
  }

  // sizing tokens
  --2px: 0.125rem;
  --4px: 0.25rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --45px: 2.8125rem;
  --48px: 3rem;
  --64px: 4rem;
  --96px: 6rem;
  --128px: 8rem;
  --192px: 12rem;
  --256px: 16rem;
  --288px: 18rem;
  --432px: 27rem;
  --512px: 32rem;
  --640px: 40rem;
  --768px: 48rem;

  // shadow tokens
  --shadow-color: from var(--bigscreen-bg) l c h;
  --shadow-elevation-low:
    0px 0.1px 0.1px oklch(var(--shadow-color) / 0.33),
    0.1px 0.2px 0.3px -1.2px oklch(var(--shadow-color) / 0.33),
    0.2px 0.5px 0.6px -2.5px oklch(var(--shadow-color) / 0.33);
  --shadow-elevation-medium:
    0px 0.1px 0.1px oklch(var(--shadow-color) / 0.34),
    0.1px 0.4px 0.5px -0.8px oklch(var(--shadow-color) / 0.34),
    0.4px 1.1px 1.3px -1.7px oklch(var(--shadow-color) / 0.34),
    0.9px 2.6px 3.1px -2.5px oklch(var(--shadow-color) / 0.34);
  --shadow-elevation-high:
    0px 0.1px 0.1px oklch(var(--shadow-color) / 0.32),
    0.2px 0.8px 0.9px -0.4px oklch(var(--shadow-color) / 0.32),
    0.5px 1.4px 1.7px -0.7px oklch(var(--shadow-color) / 0.32),
    0.7px 2.3px 2.7px -1.1px oklch(var(--shadow-color) / 0.32),
    1.2px 3.7px 4.4px -1.4px oklch(var(--shadow-color) / 0.32),
    1.9px 5.7px 6.8px -1.8px oklch(var(--shadow-color) / 0.32),
    2.8px 8.7px 10.3px -2.1px oklch(var(--shadow-color) / 0.32),
    4.1px 12.8px 15.1px -2.5px oklch(var(--shadow-color) / 0.32);
}

// THEME ANIMATION

::view-transition-new(root) {
  mask: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWtlYTYwc2p6amZtcWIyeDBjMmRyY3F6cmhzZHBxeDFzbmx6ZWF6ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/i2tLw5ZyikSFdkeGHT/giphy.gif')
    center / 0 no-repeat;
  animation: scale 1s;
  animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 1s;
  animation-fill-mode: both;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}

// REUSED CLASSES

.Gradient {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: -1.5px;
    padding: 2px;

    background: var(--blue-400);
    border-radius: 100vmax;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.2, 0, 0, 1);
    mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    mask-clip: content-box, border-box;
    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    -webkit-mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:focus-visible {
    &::before {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
