.Wrapper {
  flex: 1;
  background-color: var(--sys-surface-low);
  display: grid;
  place-content: center;
  justify-items: center;
  text-align: center;
}

.Heading {
  font-size: var(--24px);
  margin-block-end: var(--6px);
  color: var(--sys-primary);
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--6px);
  text-decoration: none;
  background-color: var(--sys-primary);
  color: var(--sys-surface);
  border-radius: 100vmax;
  padding: var(--4px) var(--12px);
  font-size: var(--14px);
  text-align: center;
  outline-offset: -2px;
}
