@use '../../styles/breakpoints' as *;

.MaxWidthWrapper {
  min-block-size: 100dvh;
  max-inline-size: var(--1100px);
  margin-inline: auto;
  inline-size: 100%;

  @include up('tablet') {
    margin-block-start: var(--16px);
    padding-inline: var(--24px);
  }

  @include up('laptop') {
    padding-inline: var(--16px);
  }
}

.Wrapper {
  block-size: 100dvh;
  background-color: var(--sys-surface-highest);
  color: var(--sys-on-surface);

  @include up('tablet') {
    border-start-start-radius: var(--8px);
    border-start-end-radius: var(--8px);
  }
}

.Content {
  position: relative;
  block-size: 100dvh;
  padding: var(--16px);
}

.ContentTitle {
  display: none;

  @include up('tablet') {
    display: revert;
    font-size: var(--20px);
    font-weight: 500;
    margin-block-end: var(--10px);
  }
}

.Label {
  display: block;
  font-size: var(--14px);
  color: var(--sys-on-surface-variant);
  margin-block-end: var(--4px);
}

.FooterMenu {
  background-color: var(--sys-surface-highest);
  border-block-start: 1px solid var(--sys-outline);
  padding: var(--12px);
  position: sticky;
  inset-block-end: var(--bottom-menu-size);
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 9;
  display: flex;
  gap: var(--8px);

  @include up('tablet') {
    border-end-start-radius: var(--8px);
    border-end-end-radius: var(--8px);
  }
}

.UploadAvatarWrapper {
  --height: var(--200px);
  --width: var(--140px);
  --border-radius: var(--8px);
  display: flex;
  gap: var(--16px);

  @include up('tablet') {
    --height: var(--220px);
    --width: var(--160px);
  }
}

.AvatarBlock {
  inline-size: var(--width);
  block-size: var(--height);
}

.UploadZone {
  composes: AvatarBlock;
  --enter-time: 350ms;
  --leave-time: 450ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--sys-on-surface-variant);
  position: relative;
  transition: color var(--leave-time) ease;

  &[data-drag-active='true'] {
    color: var(--sys-on-surface);
    transition: color var(--enter-time) ease;

    .Rectangle {
      transition: stroke var(--enter-time) ease;

      stroke: var(--sys-on-surface);

      animation: marching-ants 1.3s linear infinite;
      animation-delay: 0.8ms;
    }
  }

  @media (pointer: fine) {
    &:hover {
      color: var(--sys-on-surface);
      transition: color var(--enter-time) ease;

      .Rectangle {
        transition: stroke var(--enter-time) ease;
        stroke: var(--sys-on-surface);
      }
    }
  }
  &[data-drag-active='true'] {
    color: var(--sys-on-surface);
    transition: color var(--enter-time) ease;

    .Rectangle {
      transition: stroke var(--enter-time) ease;
      stroke: var(--sys-on-surface);

      animation: marching-ants 1.3s linear infinite;
      animation-delay: 0.8ms;
    }
  }

  &:focus-visible {
    border-radius: var(--4px);
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
  }
}

.UploadZoneBorder {
  position: absolute;
  inline-size: var(--width);
  block-size: var(--height);
  pointer-events: none;
}

.Rectangle {
  inline-size: var(--width);
  block-size: var(--height);
  rx: var(--border-radius);
  fill: transparent;
  stroke: var(--sys-outline);
  stroke-width: 3;
  stroke-dasharray: 5 2;
  transition: stroke var(--leave-time) ease;
}

.UploadedAvatar {
  composes: AvatarBlock;
  overflow: hidden; // to crop image corners
  border-radius: var(--border-radius);
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
    inline-size: var(--width);
    block-size: var(--height);
    pointer-events: none;
    user-select: none;
  }
}

.Overlay {
  position: absolute;
  inset: 0;
  background: oklch(0% 0 0 / 0.7);
  display: grid;
  place-content: center;
  color: #fff;
}

.Error {
  color: var(--danger);
}

.TrashButton {
  --inset: var(--8px);
  --size: var(--32px);
  position: absolute;
  inset-block-start: var(--inset);
  inset-inline-end: var(--inset);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--size);
  block-size: var(--size);
  background-color: var(--danger-background-active);
  opacity: 0.8;
  border-radius: var(--8px);
  color: var(--danger);
  border: none;
  cursor: pointer;
  transition: opacity 300ms ease;

  &:hover,
  &:focus-visible {
    transition-duration: 250ms;
    opacity: 1;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.Loader {
  animation: spin 1000ms linear infinite;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -28;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
