.NavSection {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: var(--14px);
}

.Separator {
  block-size: 1.5px;
  background-color: var(--color);
  margin-inline: calc(var(--10px) * -1);
  margin-block: var(--8px);
}

.NavSectionHeading {
  font-size: var(--16px);
  font-weight: 550;
  margin-block-end: var(--6px);
  color: var(--sys-on-surface-variant);
}

.NavSectionItemLinkWrapper {
  --radius: var(--6px);
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: var(--radius);

  &:focus-visible {
    outline: var(--2px) solid var(--blue-400);
  }

  &:not(:last-of-type) {
    margin-block-end: var(--4px);
  }
}

.NavSectionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--4px) var(--10px);
  border-radius: var(--radius);

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-on-surface-opacity-variant-2);
    }
  }

  .ActiveLink & {
    background-color: var(--state-on-surface-opacity-variant-2);
  }
}

.NavSectionItemIndicator {
  block-size: var(--16px);
  min-inline-size: var(--16px);
  padding-inline: var(--4px);
  display: grid;
  place-content: center;
  border-radius: 100vmax;
  background-color: var(--blue-500);
  box-shadow: 0 0 6px var(--blue-500);
  animation: pulse 1.5s infinite alternate both;
  color: #fff;
  font-size: var(--12px);
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(0.95);
  }
}
