@use '../../styles/breakpoints' as *;

.Wrapper {
  display: none;
  @include up('tablet') {
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: sticky;
    inset-block-start: 0;
    background-color: var(--sys-surface);
    padding: var(--12px) var(--24px);
    gap: var(--16px);
    z-index: 10;
  }

  @include up('laptop') {
    box-shadow: var(--shadow-border);
  }
}

.LogoLink {
  text-decoration: none;

  outline-offset: 2px;
  &:focus-visible {
    outline: 2px solid var(--blue-400);
    border-radius: var(--2px);
  }
}

.Button {
  --border-radius: 100vmax;
  border-radius: var(--border-radius);
  transition: background-color 0.2s var(--bg-animation);

  &:focus-visible,
  &:hover {
    outline: none;
  }
}

.PrimaryButton {
  composes: Button;
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  padding: var(--8px) var(--20px) var(--8px) var(--16px);
  gap: var(--8px);
  font-weight: 500;
  text-decoration: none;
}

.IconButton {
  composes: Button;
  inline-size: 45px;
  block-size: 45px;
  padding: var(--8px);
  color: var(--sys-primary);
}

.SecondaryButton {
  composes: IconButton;
  outline: 2px solid var(--sys-primary);
  outline-offset: -2px;
  background-color: transparent;

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-primary-opacity-8);
    }
  }

  &:focus-visible {
    background-color: var(--state-primary-opacity-8);
  }
}

.TertiaryButton {
  composes: IconButton;
  background-color: var(--sys-surface-highest);

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-on-surface-opacity-variant-2);
    }
  }

  &:focus-visible {
    background-color: var(--state-on-surface-opacity-variant-2);
  }
}

.UserButton {
  composes: IconButton;
  padding: 0;

  &:hover,
  &:focus-visible {
    background-color: var(--state-primary-opacity-12);
    outline: none;
  }

  img {
    border-radius: var(--border-radius);
  }
}

.FlexContainer {
  display: flex;
  gap: var(--16px);

  &:last-of-type {
    justify-self: end;
  }
}

.HeaderSearchField {
  @include between('tablet', 'laptop') {
    display: none;
  }

  flex-basis: 80%;
}
