@use '../../styles/breakpoints' as *;
@use '../../styles/utils' as *;

.Wrapper {
  flex: 1;
  background-color: var(--sys-surface-low);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--6px);
  text-decoration: none;
  background-color: var(--sys-primary);
  color: var(--sys-surface);
  border-radius: 100vmax;
  padding: var(--4px) var(--12px);
  font-size: var(--14px);
  text-align: center;
  outline-offset: -2px;
  margin-block-start: var(--6px);

  &:focus-visible {
    outline: none;
  }
}

.Heading {
  text-align: center;
  font-size: var(--24px);
  margin-block-end: var(--2px);
  color: var(--sys-primary);
}

.ErrorHeading {
  composes: Heading;
  font-size: var(--14px);
  color: var(--danger);
}

.Paragraph {
  font-size: var(--14px);
  color: var(--sys-on-surface-variant);
  margin-block-end: var(--10px);
  text-align: center;
}

.Card {
  inline-size: 90%;
  max-inline-size: var(--512px);
  background-color: var((--sys-surface-highest));
  border-radius: var(--12px);
  padding: var(--12px) var(--24px);
  box-shadow: var(--shadow-border);

  @include up('tablet') {
    inline-size: var(--432px);
  }
}

.Label {
  display: flex;
  font-weight: 500;
  font-size: var(--14px);
  margin-block-end: var(--6px);
  color: var(--sys-on-surface-variant);
}

.PasswordFieldWrapper {
  margin-block-end: var(--12px);
  position: relative;
}

.FieldInput {
  background-color: var(--sys-surface-lowest);
  border: none;
  min-inline-size: 0;
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--8px) rem(35px) var(--8px) var(--12px);
  color: var(--sys-on-surface-highest-variant);
  box-shadow: var(--inset-shadow);

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
    color: var(--sys-on-surface);
  }
}

.ShowPasswordWrapper {
  position: relative;
}

.ShowPassword {
  --size: var(--24px);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 10px;
  transform: translateY(-50%);
  block-size: var(--size);
  inline-size: var(--size);
  border-radius: var(--4px);
  transition-property: color, background-color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.3, 0.7, 0.4, 1);
  svg {
    color: var(--sys-on-surface-highest-variant);
  }

  &:focus-visible {
    outline: 2px solid var(--blue-400);

    svg {
      transition: color 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      color: var(--sys-primary);
    }
  }

  @media (hover: hover) {
    &:hover {
      transition: background-color 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      background-color: var(--state-primary-opacity-16);

      svg {
        transition: color 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        color: var(--sys-primary);
      }
    }
  }
}

.PasswordPopover {
  display: none;

  @include up('tablet') {
    display: revert;
    inline-size: var(--192px);
  }

  @include up('laptop') {
    inline-size: var(--256px);
  }
}

.ConditionsMobile {
  margin-block-start: var(--10px);
  @include up('tablet') {
    display: none;
  }
}

.Error {
  margin-block-start: var(--6px);
  display: flex;
  align-items: center;
  gap: var(--4px);
  color: var(--danger);
  font-size: var(--12px);

  div {
    align-self: flex-start;
  }
}

.Button {
  background-color: var(--sys-primary);
  inline-size: 100%;
  color: var(--sys-surface);
  border-radius: 100vmax;
  padding: var(--6px) var(--12px);
  font-size: var(--14px);
  text-align: center;

  &:focus-visible {
    outline: none;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.Loader {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
