.Wrapper {
  flex: 1;
  background-color: var(--sys-surface-low);
  display: grid;
  place-content: center;
  justify-items: center;
  text-align: center;
}

.Heading {
  font-size: var(--24px);
  margin-block-end: var(--2px);
  color: var(--sys-primary);
}

.Paragraph {
  font-size: var(--14px);
  color: var(--sys-on-surface-variant);
  margin-block-end: var(--10px);
}

.Button {
  background-color: var(--sys-primary);
  padding: var(--4px) var(--12px);
  color: var(--sys-surface);
  border-radius: 100vmax;
  padding-block: var(--6px);
  font-size: var(--14px);
  text-align: center;
  outline-offset: -2px;

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.Loader {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
