.Body {
  color: var(--sys-on-surface);
}

.OrderedList {
  padding-inline-start: var(--32px);

  &:not(:last-of-type) {
    margin-block-end: var(--12px);
  }
}

.TextSection {
  padding-block: var(--6px);
}

.Link {
  text-decoration: none;
  color: var(--blue-400);
  font-weight: 500;
  outline-offset: 1px;
  box-shadow: 0 1.5px 0 var(--blue-400);
  transition: box-shadow 0.2s;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 0 transparent;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--blue-400);
    outline-offset: 0px;
  }
}

.LinkIcon {
  display: inline-block;
  margin-inline-start: var(--2px);
}

.Warning {
  margin-block-start: var(--14px);
  margin-block-end: var(--8px);
  background-color: var(--danger-background);
  border-radius: var(--2px);
  padding: var(--6px);
  border-inline-start: 3.5px solid var(--danger);
  padding-inline-start: var(--12px);
}

.WarningTitle {
  font-size: var(--18px);
}
