.Wrapper {
  flex: 1;
  background-color: var(--sys-surface-low);
  display: grid;
  place-content: center;
  justify-items: center;
}

.Heading {
  font-size: var(--24px);
  margin-block-end: var(--2px);
  color: var(--sys-primary);
}

.Paragraph {
  font-size: var(--14px);
  color: var(--sys-on-surface-variant);
  margin-block-end: var(--10px);
  text-align: center;
}

.Card {
  inline-size: 90%;
  max-width: var(--512px);
  background-color: var((--sys-surface-highest));
  border-radius: var(--12px);
  padding: var(--12px) var(--24px);
  box-shadow: var(--shadow-border);
}

.Label {
  display: flex;
  font-weight: 500;
  font-size: var(--14px);
  margin-block-end: var(--6px);
  color: var(--sys-on-surface-variant);
}

.EmailFieldWrapper {
  margin-block-end: var(--8px);
}

.FieldInput {
  background-color: var(--sys-surface-lowest);
  border: none;
  min-inline-size: 0;
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--8px) var(--12px);
  color: var(--sys-on-surface-highest-variant);
  box-shadow: var(--inset-shadow);

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--blue-400);
    color: var(--sys-on-surface);
  }
}

.Error {
  margin-block-start: var(--6px);
  display: flex;
  align-items: center;
  gap: var(--4px);
  color: var(--danger);
  font-size: var(--12px);

  div {
    align-self: flex-start;
  }
}

.TurnstileWrapper {
  block-size: 145px; // Зберігаємо простір для віджета перед його завантаженням
  margin-block-end: var(--6px);

  &:has(> .Error) {
    margin-block-end: var(--24px);
  }

  @media (min-width: 24.125rem) {
    block-size: 72px;
  }
}

.Button {
  background-color: var(--sys-primary);
  inline-size: 100%;
  color: var(--sys-surface);
  border-radius: 100vmax;
  padding-block: var(--6px);
  font-size: var(--14px);
  text-align: center;

  &:focus-visible {
    outline: none;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.Loader {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
