@use '../../styles/breakpoints' as *;

.Popup {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: none;
  background-color: var(--sys-surface);
  border: 1px solid var(--sys-on-surface-highest);
  border-radius: var(--8px);
  padding: var(--12px) var(--16px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  inline-size: var(--192px);
  z-index: 9999;
  pointer-events: none;
  animation: spotlightIn 0.15s ease-out both;
  will-change: transform, opacity;

  @include up('tablet') {
    display: revert;
  }

  @include up('laptop') {
    inline-size: var(--256px);
  }
}

@keyframes spotlightIn {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
