@use '../../styles/breakpoints' as *;

.Wrapper {
  --spacing: var(--40px);
  min-block-size: 100vh;
  min-block-size: 100dvh;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--sys-surface);

  @media (min-width: 32rem) {
    background-color: revert;
  }
}

.MainHeader {
  padding: var(--12px) var(--spacing);
  color: var(--sys-on-primary);
  background-color: var(--sys-surface);
  margin-block-end: var(--8px);
  display: flex;
  justify-content: space-between;

  @media (min-width: 32rem) {
    background-color: revert;
    padding: var(--12px) var(--24px);
    margin-block-end: revert;
  }

  @include up('tablet') {
    padding: var(--20px) var(--24px) var(--40px);
  }
}

.MainSectionWrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  flex: 1;

  @media (min-width: 32rem) {
    padding-inline: var(--24px);
  }
}

.MainSection {
  display: flex;
  flex: 1;

  @media (min-width: 32rem) {
    flex: revert;
  }
}

.Logo {
  transform: translateX(-4px);
}

.ThemeButton {
  --border-radius: 100vmax;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 45px;
  block-size: 45px;
  padding: var(--8px);
  color: var(--sys-primary);
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--state-primary-opacity-12);
    }
  }

  &:focus-visible {
    background-color: var(--state-primary-opacity-12);
  }
}

.Content {
  --border-radius: var(--20px);
  max-inline-size: var(--512px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: var(--512px);
  background-color: var(--sys-surface);
  padding: 0 var(--spacing) var(--spacing) var(--spacing);

  @media (min-width: 32rem) {
    border-radius: var(--border-radius);
    padding: var(--spacing);
  }

  // @include up('tablet') {
  //   flex-grow: 0;
  // }
}

.RegistrationHeader {
  margin-block-end: var(--16px);
}

.RegistrationTitle {
  color: var(--sys-primary);
  font-size: var(--20px);

  @media (min-width: 32rem) {
    font-size: var(--28px);
  }
}

.FormContent {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  block-size: 100%;
}

.FieldLabel {
  color: var(--sys-primary);
  display: block;
  margin-block-end: var(--4px);
  font-weight: 500;
}

.FieldInputWrapper {
  position: relative;
  color: var(--sys-on-surface-highest-variant);
}

.FieldInput {
  background-color: var(--sys-on-surface-highest);
  border: 2px solid var(--sys-on-surface-highest);
  outline: none;
  min-inline-size: 0;
  inline-size: 100%;
  border-radius: var(--4px);
  padding: var(--4px) var(--12px);
  color: inherit;

  &[data-focused] {
    border-color: var(--blue-300);
    color: var(--sys-on-surface);
  }
}

.UsernameFieldInput {
  composes: FieldInput;
  padding-inline-end: var(--20px);
}

.UsernameFieldCircleWrapper {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 8px;
  transform: translateY(-50%);
}

.LoadingAnimation {
  animation: appearPulse 800ms linear infinite alternate;

  @media (prefers-reduced-motion: no-preference) {
    animation: spin 550ms linear infinite;
  }
}

@keyframes appearPulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.PasswordFieldInput {
  composes: FieldInput;
  padding-inline-end: 35px;
}

.Error {
  margin-block-start: var(--4px);
  display: flex;
  align-items: center;
  gap: var(--4px);
  color: var(--danger);
  font-size: var(--12px);

  svg {
    align-self: flex-start;
  }
}

.Relative {
  position: relative;
}

.ShowPassword {
  --size: var(--24px);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 10px;
  transform: translateY(-50%);
  block-size: var(--size);
  inline-size: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: var(--4px);
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.3, 0.7, 0.4, 1);

  &:focus-visible {
    outline: 2px solid var(--blue-400);
  }

  svg {
    color: var(--sys-on-surface-highest-variant);
  }

  @media (hover: hover) {
    &:hover {
      transition: background-color 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      background-color: var(--state-primary-opacity-16);
    }

    &:hover,
    &:focus-visible {
      svg {
        transition: color 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        color: var(--sys-primary);
      }
    }
  }
}

.SubmitButton {
  border: none;
  border-radius: 100vmax;
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  padding: var(--8px) var(--16px);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-block-start: auto;

  &.Disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.Side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.Loader {
  color: var(--sys-on-primary);
  animation: spin 1000ms linear infinite;
}

.LoginText {
  margin-block-start: var(--10px);
  display: flex;
  justify-content: center;
  gap: var(--8px);
  color: var(--sys-primary);
  font-size: var(--14px);
}

.LoginLink {
  color: var(--blue-400);
  outline-offset: 2px;
  position: relative; // for click target helper

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px solid var(--blue-400);
    border-radius: var(--2px);
  }
}

.ConditionsMobile {
  @include up('tablet') {
    display: none;
  }
}
